
body {
    margin: 0;
}

.main-bar {
    display: flex;
    border: 1px dashed black;
    padding: 1.5rem;
    height: 10vh;
    padding-left: 4rem;
    background-color: burlywood;
}

.nav {
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    padding-right: 8rem;
    font-size: large;
    color: rgb(39, 59, 4)
}

.icon {
    margin-right: auto;
    width: 200px;
    border-radius: 75px;
    height: auto;

}

.nav-hov:hover {
    color: red;
}

/*--------------------------------------------------------------------------------*/

.home-body {
    font-size: large;
    padding: 0 27rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}


/*------------------------------------------------------------------------------------------------*/

.menu {
    background-color: rgb(231, 156, 64);
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgMenu {
    height: 100%;
    width: 40%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

/*---------------------------------------------------------------------------------*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected {
    color: red;
}